* {
    margin: 0;
    padding: 0;
}

nav {
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav .navbg {
    height: 80px;
    opacity: 0.1;
    background: #fff;
}

logo {
    z-index: 2;
    width: 117px;
    height: 23px;
    position: absolute;
    top: 30px;
    left: 50px;
}

logo img {
    width: 117px;
    height: 23px;
    cursor: pointer;
}

.button {
    margin-top: -60px;
    margin-right: 50px;
    float: right;
    width:290px;
    height: 36px;
    position: relative;
}

.button div{
    width:50px;
    border:1px solid red;
    height:50px;
    position: absolute;
}
.button div:nth-child(1){
    top: 0px;
    left: 0px;
}
.button div:nth-child(2){
    bottom: 0px;
    right: 0px;
}

.button a {
    width: 140px;
    height: 28px;
    text-decoration: none;
    z-index: 3;
    text-align: center;
    color: #ffffff;
}

.button div{
    width: 140px;
    height: 28px;
    border: #E04343 1px solid;
    border-radius: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}

div.reg a {
    color: #E04343;
}

div.auth {
    background-color: #E04343;
    opacity: 0.8;
}

div.auth:hover {
    opacity: 1.0;
}
